
/* usiandike color yoyote hivi => color:red; tumia hizi color nimeweka na ukitaka kuchange unachange kwa root
then ukitaka kuweka color unafanya color:var(--background); hivo👈 ndio tukae uniform */
:root{
	--background:#1C1427;
	--background2:#40394A;
	--primary:#16FF00;
	--font:verdana;
	--white:#FFF;
}

*{
	padding: 0px;
	margin: 0px;
	background: var(--background); /*hivi ndio nilikuwa nasema*/
}

.container{
	width: 100%;
	height: 100vh;
	font-family: var(--font);
}

.navigation{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navigation h3{
	font-family: var(--font);
	font-weight: 800;
	color: var(--white);
}

#links a{
	color: var(--background2);
	text-decoration: none;
	margin: 1rem;
}

#links a:hover{
	color: var(--primary);
}
nav{
	display:flex;
	padding:2% 6%;
	justify-content: space-between;
	align-items: center;

}
nav img{
	width:100px;
	
}
.nav-links{
	flex:1;
	text-align:right;
}
.nav-links ul li{
	list-style:none;
	display:inline-block;
	padding:8px 12px;
	position:relative;
}
.nav-links ul li a{
       color:#16FF00;
	   text-decoration: none;
	   font-size: 13px;
	   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-links ul li::after{
	content:'';
	width:0%;
	height: 2px;
	background:var(--background2);
	display:block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width:90%;
	color:#FFF;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 62px;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color:#FFF;
}
.geo{
	display: inline-block;
	text-decoration: none;
	color:#FFF;
	border:1px solid #FFF;
	padding:12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor:pointer;


}
.geo:hover{
	border:1px solid #16FF00 ;
	background:#16FF00;
	transition: 1s;
}
@media(max-width:700px){
	.text-box h1{
		font-size: 20px;
	}
}