@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
* {
	padding: 0px;
	margin: 0px;
}

@theme {
	--color-darkBg: oklch(0.1 0 81);
	--color-darkOverlay: oklch(0.15 0 81);
	--color-darkOverlay2: oklch(0.2 0 81);
	--color-darkText: oklch(0.96 0 81);
	--color-darkTextMuted: oklch(0.76 0 81);
	--color-darkBorderHighlight: oklch(0.5 0 81);
	--color-darkBorder: oklch(0.4 0 81);
	--color-darkBorderMuted: oklch(0.3 0 81);
	--color-primary: oklch(0.76 0.3 81);
	--color-secondary: oklch(0.76 0.3 261);
	--color-danger: oklch(0.7 0.05 30);
	--color-warning: oklch(0.7 0.05 100);
	--color-success: oklch(0.7 0.05 160);
	--color-info: oklch(0.7 0.05 260);

	/* light mode */
	--color-lightBg: oklch(0.92 0 81);
	--color-lightOverlay: oklch(0.96 0 81);
	--color-lightOverlay2: oklch(1 0 81);
	--color-lightText: oklch(0.15 0 81);
	--color-lightTextMuted: oklch(0.4 0 81);
	--color-lightBorderHighlight: oklch(1 0 81);
	--color-lightBorder: oklch(0.6 0 81);
	--color-lightBorderMuted: oklch(0.7 0 81);
	--font-sans: 'Inter', sans-serif;
}
